* {
    margin:0;
    padding:0;
    --yellow:#FFD447;
    --black:#212121
   }
   body.as-app-body {
    background:#0e0e0e;
    text-rendering:geometricPrecision
   }
   .as-sidebar {
    --as-sidebar--background-color:var(--black);
    transition:width .3s cubic-bezier(.4,.01,.165,.99)
   }
   .as-body {
    color:#fff
   }
   as-widget-header {
    --as-widget-header__header--color:#FFFFFF
   }
   .y-axis {
    --widget-axis-text-color:#FFFFFF
   }
   .as-tabs {
    background:var(--black);
    box-shadow:none
   }
   .as-tabs__item {
    color:#fff
   }
   .as-tabs--xl .as-tabs__item--active,
   .as-tabs--xl .as-tabs__item:active {
    border-bottom:4px solid var(--yellow);
    color:var(--yellow)
   }
   .as-tabs--xl .as-tabs__item:hover {
    border-bottom:4px solid var(--yellow)
   }
   .as-tabs--xl .as-tabs__item:hover {
    border-bottom:4px solid var(--yellow)
   }
   @media all and (min-width:812px) {
    .as-sidebar {
     box-shadow:0 0 24px rgba(0,0,0,.5)
    }
   }
   .widgets-item {
    position:relative;
    border-bottom:1px solid rgba(255,255,255,.1);
    padding:24px;
    list-style-type:none;
    color:#fff
   }
   .widgets-itemHeader {
    display:flex;
    align-items:center;
    justify-content:space-between
   }
   .widgets {
    padding:0;
    margin:0
   }
   .widgets-itemHeader h2 {
    font:24px/24px Roboto;
    color:#797979
   }
   .widgets-itemHeader p {
    font:10px/16px Roboto;
    color:rgba(255,255,255,.4)
   }
   .widgets-itemHeader h2 span {
    color:#fff
   }
   .widgets-item--last {
    border-bottom:0
   }
   .as-panel {
    overflow:visible;
    flex-direction:column
   }
   .as-panel--right {
    right:30px;
    top:30px;
    width:250px;
    max-width:250px
   }
   .as-panel__element {
    max-width:250px;
    width:250px;
    border-radius:0;
    border-bottom-left-radius:4px;
    background:var(--black);
    box-shadow:0 0 24px rgba(0,0,0,.5);
    padding:0;
    pointer-events:all
   }
   .right-pannel-widgets {
    padding-left:200px;
    left:-210px;
    position:relative;
    pointer-events:none
   }
   .right-pannel-widgets.all-pointer-events {
    pointer-events:all
   }
   .right-pannel-widgets .as-panel__element {
    margin:10px
   }
   .as-p--16 {
    padding:0
   }
   as-category-widget {
    background:0 0
   }
   as-category-widget .as-category-widget__info {
    color:#747474
   }
   as-category-widget .as-category-widget__title {
    color:#fff
   }
   as-category-widget .as-category-widget__bar {
    display:none
   }
   as-histogram-widget {
    background:0 0
   }
   .bar {
    fill:#b04ee9!important
   }
   as-histogram-widget svg .yAxis .tick line {
    stroke:#fff;
    opacity:.2
   }
   as-histogram-widget svg text {
    fill:#fff;
    opacity:.4
   }
   as-histogram-widget svg .brush .selection {
    fill:#000
   }
   as-dropdown .as-body {
    color:var(--black)
   }
   as-dropdown .as-dropdown__control {
    color:#fff
   }
   .legend {
    transition:all .3s cubic-bezier(.4,.01,.165,.99);
    background:var(--black);
    box-shadow:0 0 24px rgba(0,0,0,.5);
    pointer-events:all
   }
   .legend.is-hidden {
    opacity:0;
    pointer-events:none
   }
   .legend-panel {
    width:250px;
    border-radius:4px
   }
   .legend-inner {
    border:none;
    padding:12px
   }
   .segregation-legend {
    width:100%;
    height:6px;
    background:linear-gradient(90deg,#3a3fac 0,#3a3fac 20%,#6dcee1 20%,#6dcee1 40%,#f7e432 40%,#f7e432 60%,#fd8c30 60%,#fd8c30 80%,#e93627 80%,#e93627 100%)
   }
   .legend-text {
    font-size:16px
   }
   .labels-legend {
    display:flex;
    font-size:10px;
    justify-content:space-between;
    width:100%
   }
   .floating-carto-logo {
    position:absolute;
    bottom:8px;
    left:50%;
    transform:translate(-50%);
    opacity:.6
   }
   #popup {
    display:none
   }
   .mapboxgl-popup {
    max-width:300px
   }
   .mapboxgl-popup-content {
    padding:16px 24px;
    background:var(--black);
    color:#fff
   }
   .popup-inner {
    display:flex;
    align-items:flex-end
   }
   .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
   .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
   .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color:var(--black)
   }
   .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
   .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
   .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color:var(--black)
   }
   .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color:var(--black)
   }
   .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color:var(--black)
   }
   .mapboxgl-popup-close-button {
    right:8px;
    top:8px;
    color:#fff
   }
   .mapboxgl-popup-close-button:focus {
    outline:0
   }
   .popup-figure {
    margin-right:24px
   }
   .popup-figure h2 {
    font:24px Roboto;
    color:#fff
   }
   .popup-figure p {
    font:12px/16px Roboto;
    font-size:14px;
    color:rgba(255,255,255,.4)
   }
   .popup-list {
    display:flex;
    align-items:flex-start;
    list-style-type:none
   }
   .popup-graph-title {
    position:absolute;
    color:#747474
   }
   .popup-listItem p {
    font-family:10px/16px Roboto;
    color:rgba(255,255,255,.4)
   }
   .popup-listItem {
    margin-top:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-width:1.8rem
   }
   .popup-listItem:last-child {
    margin-right:0
   }
   .popup-listBar {
    height:50px;
    width:8px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end
   }
   .popup-listBar p {
    font-size:12px
   }
   .popup-listBar span {
    width:100%;
    background:#3fd68e;
    border-radius:50px
   }
   .popup-status {
    position:absolute;
    top:0;
    bottom:0;
    width:5px;
    left:0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px
   }
   .popup-name {
    margin-bottom:8px
   }
   .popup-name h2 {
    font:24px Roboto;
    color:#fff
   }
   .popup-name h3 {
    font:12px/16px Roboto;
    font-size:14px;
    color:rgba(255,255,255,.4)
   }
   .overflow-scroll {
    overflow:auto
   }
   .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin:0 0 24px 24px
   }
   .mapboxgl-ctrl-geocoder {
    width:100%;
    background-color:unset
   }
   .mapboxgl-ctrl-geocoder input[type=text] {
    color:#fff;
    padding:10px 30px 10px 40px
   }
   .geocoder-icon.geocoder-icon-close,
   .geocoder-icon.geocoder-icon-loading {
    background-color:transparent
   }
   .mapboxgl-ctrl-geocoder .suggestions {
    background-color:var(--black);
    border:1px solid #3d3d3d;
    border-top:none
   }
   .mapboxgl-ctrl-geocoder ul>li>a {
    color:#fff
   }
   .mapboxgl-ctrl-geocoder ul>li.active>a,
   .mapboxgl-ctrl-geocoder ul>li>a:hover {
    background-color:rgba(253,179,42,.08);
    color:#fff
   }
   .mapboxgl-ctrl-geocoder input:focus {
    outline:0;
    border:1px solid #fcb229
   }
   .geocoder-icon-search {
    background-image:url(/source/img/search_small.svg)
   }
   .geocoder-icon-close {
    background-image:url(/3cfc327a39aafe1e635343bc404908e8defc1057/fedb7/img/close.svg)
   }
   .geocoder-icon-loading {
    background-image:url(/649a9f269627d64647c3b8001c61536557b9ecec/241fa/img/loading.svg)
   }
   .footer {
    background-color:var(--black)
   }
   .italics {
    font-style:italic
   }
   .unsupported-browser-modal {
    display:none
   }
   .unsupported-browser .legend {
    display:none
   }
   .unsupported-browser .as-sidebar {
    display:none
   }
   .unsupported-browser .unsupported-browser-modal {
    display:unset;
    opacity:1;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
   }
   .unsupported-browser as-responsive-content .as-toolbar-tabs {
    display:none
   }
   footer.as-toolbar {
    position:absolute;
    bottom:0
   }
   .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin:0 0 80px 24px
   }
   .as-toolbar,
   .as-toolbar__actions {
    background-color:#212121
   }
   header .as-toolbar__item {
    border-bottom:4px solid #212121;
    font-size:16px;
    font-weight:500;
    padding:8px 18px 0 18px
   }
   header .selected {
    border-bottom:4px solid #ffd447;
    color:#ffd447
   }
   header nav .help-close-icon,
   header nav .help-icon {
    padding-top:6px
   }
   header .logo img {
    padding-left:6px
   }
   .footer {
    height:50px;
    justify-content:space-between;
    display:flex
   }
   .footer .orgs,
   .footer .social {
    padding-left:16px;
    display:flex;
    justify-content:space-between;
    align-items:center
   }
   .footer .as-toolbar__item {
    min-height:50px
   }
   @media all and (min-width:812px) {
    .footer .orgs {
     padding-left:50px
    }
    .footer .social {
     padding-right:50px
    }
   }
   .legend {
    position:absolute;
    left:16px
   }
   header.as-toolbar {
    z-index:500
   }
   .on-map header.as-toolbar .as-toolbar__actions {
    bottom:50px
   }
   @media all and (min-width:812px) {
    header.as-toolbar {
     position:absolute;
     top:0;
     width:100%;
     z-index:10
    }
    .footer {
     position:absolute;
     width:100%;
     bottom:0;
     z-index:10
    }
    .as-sidebar {
     width:300px;
     margin-top:60px;
     padding-bottom:110px
    }
    .legend {
     top:76px;
     width:250px
    }
    header nav {
     padding-right:48px
    }
   }
   @media all and (max-width:811px) {
    .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
     margin:0 0 20px 24px
    }
    .legend {
     top:16px;
     right:16px;
     width:200px
    }
    header nav li,
    header nav ul {
     width:100%
    }
   }
   .onboarding .as-map-panels,
   .onboarding .hide-in-onboarding,
   .onboarding .mapboxgl-control-container {
    opacity:0;
    pointer-events:none
   }
   .onboarding .collapse-in-onboarding {
    width:0
   }
   .show-in-onboarding {
    display:none
   }
   .onboarding .show-in-onboarding {
    display:flex
   }
   .selectCity .as-map-panels,
   .selectCity .hide-in-onboarding {
    opacity:0;
    pointer-events:none
   }
   .selectCity .collapse-in-onboarding {
    width:0
   }
   .show-in-selectCity {
    display:none
   }
   .selectCity .modal-content {
    max-width:25vw;
    margin:0;
    padding:0
   }
   .selectCity .show-in-selectCity {
    display:flex
   }
   .selectCity-content {
    color:#ffff;
    position:absolute;
    z-index:400;
    font:900 normal 16px/24px Roboto,sans-serif;
    background-color:#3940ad;
    border-radius:4px;
    margin-top:40px;
    margin-left:40px;
    display:flex;
    flex-direction:column;
    padding:2em
   }
   .selectCity .mapboxgl-popup {
    max-width:250px
   }
   .selectCity .mapboxgl-popup-content {
    padding-right:35px;
    padding-left:5px
   }
   .city-select-popup-btn {
    position:absolute;
    right:0;
    top:0;
    height:100%;
    padding:0;
    border-radius:0;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    width:25px
   }
   footer .credits,
   footer.show-in-onboarding {
    background-color:transparent
   }
   .modal-lightbox {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,.01);
    z-index:400;
    display:none
   }
   .modal-lightbox.is-active,
   .modal-lightbox.is-active footer {
    display:flex
   }
   .modal-lightbox.is-active footer {
    position:absolute;
    bottom:0
   }
   .modal-lightbox .as-toolbar,
   .modal-lightbox .as-toolbar__actions {
    background-color:transparent
   }
   .modal-lightbox .as-toolbar__actions {
    padding:0 18px 32px 0
   }
   .modal-lightboxInner {
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    height:100%
   }
   .modal-lightboxInner h3 {
    color:#fff;
    font:900 normal 16px/24px Roboto,sans-serif
   }
   .modal {
    opacity:0;
    background-color:#3940ad;
    border-radius:4px;
    position:absolute;
    left:120px;
    width:400px;
    max-width:1200px
   }
   .modal.is-active {
    opacity:100;
    z-index:9999
   }
   .modal-content {
    padding:40px
   }
   .modal-content .heading {
    padding-bottom:20px;
    display:inline-block
   }
   .modal-content {
    color:#fff
   }
   .modal-content h1 {
    font:300 normal 40px/56px Roboto,sans-serif
   }
   .modal-content p {
    color:#fff;
    font:400 normal 16px/24px Roboto,sans-serif;
    padding-bottom:24px
   }
   .bold {
    font-weight:700
   }
   .color {
    color:#ffd447
   }
   .modal-content .as-btn--primary {
    background-color:#ffd447;
    color:#1d1a2f;
    display:flex
   }
   .modal-content .as-btn:hover {
    background-color:#ffe590
   }
   .modal-content .as-btn--primary img {
    padding-right:12px
   }
   .modal-content .as-btn--l {
    font-weight:400
   }
   .modal-content.step-02 {
    flex-wrap:wrap;
    margin-bottom:40px;
    width:calc(100vw - 240px);
    max-width:1200px
   }
   .modal-ui {
    position:absolute;
    left:40px;
    right:40px;
    top:48px;
    bottom:48px
   }
   .modal-ui .as-checkbox {
    position:absolute;
    bottom:0;
    right:0
   }
   .modal-ui button {
    position:absolute;
    right:0;
    top:0
   }
   .modal-ui .as-checkbox {
    color:#fff;
    font:400 normal 12px/20px Roboto,sans-serif;
    margin-bottom:0
   }
   .as-checkbox .as-checkbox-decoration {
    background-color:#fff
   }
   .modal-content .quick-intro {
    justify-content:space-between;
    display:flex;
    list-style:none
   }
   .quick-intro li {
    flex:0 0 30%;
    flex-direction:column
   }
   .quick-intro li div {
    display:flex;
    justify-content:center;
    align-items:center
   }
   .quick-intro .image-cont {
    padding-bottom:20px
   }
   .quick-intro li h3 {
    font:900 normal 18px/26px Roboto,sans-serif;
    padding-bottom:1rem
   }
   .image-cont img {
    height:150px;
    width:auto
   }
   .modal-step2 {
    transition-property:width;
    transition-duration:.2s;
    transition-timing-function:ease-in
   }
   .modal-step2 .modal-content {
    opacity:0;
    transition-property:opacity;
    transition-duration:.2s;
    transition-timing-function:ease-in;
    transition-delay:.2s
   }
   .modal-step2.is-active {
    width:calc(100vw - 240px)
   }
   .modal-step2.is-active .modal-content {
    opacity:100
   }
   .carousel-controls {
    opacity:0
   }
   .disabled {
    cursor:not-allowed;
    pointer-events:none
   }
   .modal-step3 {
    transition-property:width;
    transition-duration:.2s;
    transition-timing-function:ease-in
   }
   .modal-step3 .modal-content {
    opacity:0;
    transition-property:opacity;
    transition-duration:.2s;
    transition-timing-function:ease-in;
    transition-delay:.2s
   }
   .modal-step3.is-active {
    width:calc(100vw - 240px)
   }
   .modal-step3.is-active .modal-content {
    opacity:100
   }
   .step-03 .quick-intro {
    justify-content:space-evenly;
    display:flex;
    flex-flow:row wrap
   }
   .city-item {
    height:250px;
    flex-basis:20%;
    -ms-flex:auto;
    width:250px;
    position:relative;
    box-sizing:border-box
   }
   @media(max-width:1333px) {
    .city-item {
     flex-basis:33.33%
    }
   }
   @media(max-width:1073px) {
    .city-item {
     flex-basis:33.33%
    }
   }
   @media(max-width:815px) {
    .city-item {
     flex-basis:50%
    }
    .show-desktop {
     display:none
    }
   }
   @media(max-width:555px) {
    .city-item {
     flex-basis:100%
    }
   }
   .modal-step3 .modal-content .quick-intro .city-selector h3 {
    z-index:1;
    text-decoration:none;
    position:absolute;
    top:50%;
    right:50%;
    transform:translate(50% ,-50%);
    -webkit-transform:translate(50%,-50%);
    font-size:1.5rem;
    padding:10px
   }
   .modal-step3 .modal-content .quick-intro .city-selector img {
    z-index:-1;
    filter:brightness(75%);
    width:100%;
    height:100%
   }
   .selectCity .show-in-selectCity .show-mobile {
    display:none
   }
   @media (max-width:811px) {
    .modal-step2.is-active {
     width:100vw;
     height:100vh;
     display:flex;
     flex-direction:column
    }
    .modal-content.step-02 {
     width:100vw
    }
   }
   @media all and (max-width:811px) {
    .selectCity .modal-content {
     max-width:100vw
    }
    .mapboxgl-canvas-container {
     height:100vh
    }
    .carousel-controls {
     opacity:1;
     position:absolute;
     top:50%;
     width:100%;
     display:flex;
     align-items:center
    }
    .carousel-controls i {
     font-size:24px;
     color:#fff;
     margin:0 5px
    }
    .carousel-controls i.disabled {
     opacity:0;
     pointer-events:none
    }
    .carousel-controls .as-icon-chevron-left {
     flex:1
    }
    .onboarding .as-toolbar-tabs {
     display:none
    }
    .selectCity .as-toolbar-tabs {
     display:none
    }
    .selectCity .as-map-panels,
    .selectCity .hide-in-onboarding {
     display:none;
     opacity:0;
     pointer-events:none
    }
    .selectCity .collapse-in-onboarding {
     width:0
    }
    .show-in-selectCity {
     display:none
    }
    .selectCity .modal-content {
     margin:0;
     padding:0
    }
    .selectCity .show-in-selectCity .show-desktop {
     display:none
    }
    .selectCity .as-tabs {
     display:none
    }
    .selectCity .show-in-selectCity .show-mobile {
     display:flex;
     padding:.5em;
     width:100vw
    }
    .selectCity-content .show-mobile {
     padding:1em
    }
    .modal {
     left:0;
     width:100vw;
     height:100vh;
     border-radius:0;
     opacity:0;
     background-color:#3940ad;
     border-radius:4px;
     position:absolute
    }
   }
   .modal-content,
   .modal-content.step-02 {
    overflow:auto;
    align-content:center;
    justify-content:left
   }
   .modal-ui {
    position:initial;
    display:flex;
    align-items:center;
    width:100%;
    justify-content:flex-end;
    flex-wrap:wrap;
    padding:8px 40px 40px;
    margin-left:auto
   }
   .modal-ui .as-checkbox,
   .modal-ui button {
    position:relative;
    margin-top:8px
   }
   .modal-ui button {
    flex-shrink:0;
    margin-left:16px
   }
   .quick-intro {
    overflow:auto;
    pointer-events:none
   }
   .step-03 .quick-intro {
    pointer-events:auto
   }
   .step-03 .quick-intro .city-selector {
    padding:10px
   }
   .quick-intro li {
    padding:0 33%
   }
   .modal-content .heading {
    padding-left:40px;
    padding-top:16px
   }
   .modal-step2 {
    align-items:center;
    justify-content:center
   }
   .modal-content.step-02 {
    display:flex;
    flex-direction:row;
    padding:0
   }
   .quick-intro li {
    flex:0 0 100%;
    padding:0 12%
   }
   .ribbon::after,
   .ribbon::before {
    position:absolute;
    z-index:-1;
    content:'';
    display:block;
    border:5px solid #eec942
   }
   .ribbon span {
    position:absolute;
    display:block;
    width:225px;
    padding:15px 0;
    background-color:#ffd447;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
    color:#212121;
    font:700 18px/1 Lato,sans-serif;
    text-shadow:0 1px 1px rgba(0,0,0,.2);
    text-transform:uppercase;
    text-align:center
   }
   .ribbon-top-left {
    top:-10px;
    left:-10px
   }
   .ribbon-top-left::after,
   .ribbon-top-left::before {
    border-top-color:transparent;
    border-left-color:transparent
   }
   .ribbon-top-left::before {
    top:0;
    right:0
   }
   .ribbon-top-left::after {
    bottom:0;
    left:0
   }
   .ribbon-top-left span {
    right:-25px;
    top:30px;
    transform:rotate(-45deg)
   }
   .ribbon-top-right {
    top:-10px;
    right:-10px
   }
   .ribbon-top-right::after,
   .ribbon-top-right::before {
    border-top-color:transparent;
    border-right-color:transparent
   }
   .ribbon-top-right::before {
    top:0;
    left:0
   }
   .ribbon-top-right::after {
    bottom:0;
    right:0
   }
   .ribbon-top-right span {
    left:-25px;
    top:30px;
    transform:rotate(45deg)
   }
   .ribbon-bottom-left {
    bottom:-10px;
    left:-10px
   }
   .ribbon-bottom-left::after,
   .ribbon-bottom-left::before {
    border-bottom-color:transparent;
    border-left-color:transparent
   }
   .ribbon-bottom-left::before {
    bottom:0;
    right:0
   }
   .ribbon-bottom-left::after {
    top:0;
    left:0
   }
   .ribbon-bottom-left span {
    right:-25px;
    bottom:30px;
    transform:rotate(225deg)
   }
   .ribbon-bottom-right {
    bottom:-10px;
    right:-10px
   }
   .ribbon-bottom-right::after,
   .ribbon-bottom-right::before {
    border-bottom-color:transparent;
    border-right-color:transparent
   }
   .ribbon-bottom-right::before {
    bottom:0;
    left:0
   }
   .ribbon-bottom-right::after {
    top:0;
    right:0
   }
   .ribbon-bottom-right span {
    left:-25px;
    bottom:30px;
    transform:rotate(-225deg)
   }
   .section-lightbox {
    overflow:auto;
    position:absolute;
    top:60px;
    right:0;
    bottom:0;
    left:0;
    background:#000;
    z-index:400;
    display:none
   }
   .section-lightbox.is-active {
    display:block
   }
   .section-content {
    margin-left:222px;
    width:calc(100vw - 300px);
    max-width:752px;
    padding:60px 0 130px 0
   }
   .section-content h1 {
    color:#fff;
    font:300 normal 40px/56px Roboto,sans-serif;
    padding-bottom:10px
   }
   .section-content h2,
   .section-content ol {
    color:#fff;
    font:300 normal 24px/32px Roboto,sans-serif
   }
   .section-content h3 {
    color:#fff;
    font:900 normal 16px/24px Roboto,sans-serif
   }
   .section-content .separator {
    background:url(/f12d02640135e66135264b1c28938cb18fabad4e/af986/img/diagonal-lines-bg.svg) left bottom;
    height:20px;
    margin:20px 0 30px -28px;
    width:calc(80px + 100%)
   }
   .section-content p {
    color:#fff;
    font:300 normal 16px/24px Roboto,sans-serif;
    padding-top:10px
   }
   .section-content p a {
    color:#ffd447;
    text-decoration:none
   }
   .section-content p a:hover {
    text-decoration:underline
   }
   .about-section li p,
   .section-content iframe,
   .section-content img {
    padding-top:20px
   }
   .section-content img.figure {
    width:100%;
    object-fit:scale-down
   }
   .section-content .iframe-wrapper {
    padding-top:56.25%;
    position:relative
   }
   .section-content .iframe-wrapper iframe {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%
   }
   .section-content ol {
    list-style-type:decimal;
    margin-left:24px
   }
   .section-content ul {
    margin-left:24px
   }
   .section-content li {
    display:list-item;
    list-style-position:outside;
    padding-bottom:40px;
    padding-left:14px
   }
   .section-content figure {
    padding-bottom:10px
   }
   .section-content figcaption {
    font:300 normal 14px/18px Roboto,sans-serif;
    text-align:center;
    padding:0 20px
   }
   .about-section ul {
    justify-content:space-between;
    display:flex;
    list-style:none;
    flex-wrap:wrap;
    margin-bottom:16px
   }
   .about-section li {
    flex:0 0 50%;
    flex-direction:column
   }
   .about-section li div {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding-top:40px
   }
   .about-section li img {
    padding-top:0
   }
   .about-section li p {
    text-align:center;
    position:relative
   }
   .about-section .mailto {
    position:absolute;
    right:-37px
   }
   .acknowledgments {
    justify-content:space-between;
    display:flex;
    list-style:none;
    flex-direction:column
   }
   .acknowledgments li {
    flex:0 0 50%;
    flex-direction:row;
    display:flex
   }
   .acknowledgments li p {
    text-align:left
   }
   .acknowledgments p {
    margin-left:77px;
    text-align:left
   }
   .acknowledgments .image-container {
    justify-content:start;
    padding-top:80px
   }
   .faq-section ul {
    padding:10px 0 40px 0
   }
   .faq-section li {
    padding:0
   }
   .faq-section li+li {
    padding-top:30px
   }
   .research-section h3 {
    padding-top:11px
   }
   .research-section p {
    padding-top:7px
   }
   @media all and (max-width:811px) {
    .section-content {
     margin-left:0;
     width:100%;
     padding:30px 30px
    }
    .about-section.section-content li {
     padding:0;
     margin-left:auto;
     margin-right:auto
    }
    .about-section.section-content ul {
     margin-left:0
    }
    .partner-section {
     display:flex;
     flex-wrap:wrap
    }
    .section-content .separator {
     width:110%;
     margin-left:-10%;
     margin-right:10%
    }
    .acknowledgments p {
     margin-left:0;
     text-align:left
    }
   }
   .with-bubble {
    position:relative
   }
   .with-bubble .bubble-container {
    position:absolute
   }
   .bubble-container {
    opacity:0;
    color:#fff;
    font:500 normal 12px/20px Roboto,sans-serif;
    text-align:center;
    width:160px;
    pointer-events:none;
    transition:all .2s linear
   }
   .as-box .bubble-container {
    left:-20px
   }
   @media all and (min-width:812px) {
    .show-help .bubble-container {
     opacity:1;
     pointer-events:all
    }
   }
   .bubble-container .bubble-info {
    opacity:0;
    pointer-events:none;
    transition:all .2s linear
   }
   .bubble-container:hover .bubble-info {
    opacity:1;
    pointer-events:all
   }
   .bubble-button,
   .bubble-info {
    background-color:#3940ad;
    border-radius:4px
   }
   .bubble-container-header .bubble-button {
    margin:0 auto
   }
   .bubble-button {
    border-radius:50%;
    font-size:16px;
    font-weight:500;
    height:36px;
    line-height:35px;
    width:36px
   }
   .bubble-container-sidebar .bubble-button {
    position:absolute;
    right:0
   }
   .bubble-container-sidebar .bubble-info:after {
    background-image:url(/4085d18dc229b4cdb100f63752350831bcd3fc42/b538d/img/bubble-info-right-bg.svg);
    background-position:top center;
    content:"";
    width:11px;
    height:17px;
    position:absolute;
    top:12px;
    right:-7px
   }
   .bubble-info {
    padding:8px;
    position:relative
   }
   .bubble-container-header .bubble-info {
    margin-top:11px
   }
   .bubble-container-sidebar .bubble-info {
    padding:8px;
    position:absolute;
    right:50px;
    width:144px
   }
   .bubble-info p {
    text-align:left
   }
   .bubble-info p+p {
    padding-top:20px
   }
   .bubble-info strong {
    display:block
   }
   .bubble-container-header .bubble-info:after {
    background-image:url(/f33a3be530d1962515fa1caa3d91d976195cba0b/af1e4/img/bubble-info-bg.svg);
    background-position:top center;
    content:"";
    width:11px;
    height:11px;
    position:absolute;
    top:-5px;
    left:75px
   }
   .bubble-container-sidebar li .bubble-button {
    position:absolute;
    right:260px
   }
   .bubble-container-sidebar li .bubble-info {
    padding:8px;
    position:absolute;
    right:305px;
    width:144px
   }
   .help-close-icon,
   .help-icon {
    position:absolute;
    opacity:0;
    transition:all .2s linear
   }
   .show-help .help-close-icon {
    opacity:1
   }
   body:not(.show-help) .help-icon {
    opacity:1
   }
   .hide-help-button .help-item {
    opacity:0;
    pointer-events:none
   }
   .bubble-wrap {
    position:absolute;
    left:0;
    top:0
   }
   @media all and (max-width:811px) {
    .help-item {
     opacity:0;
     pointer-events:none
    }
    .bubble-wrap {
     display:none
    }
   }
   