body {
    font: 10px sans-serif;
}
  
.axis path,
.axis line {
    fill: none;
    stroke: orange;
    shape-rendering: crispEdges;
}
  
.bar {
fill: greenyellow;
}
.bar:hover {
    fill: green ;
}

.x.axis path {
    display: none;
}

.d3-tip {
    line-height: 1;
    /* font-weight: bold; */
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 6px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.show_datetime{
    /* background:black; */
    color:white;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-family:"Segoe UI Black";
}